.cod .advantages
	flexGrow()
	cursor default
	justify-content space-evenly
	
	& > .column
		flexNone()
		
		& > .row
			flexGrow()
	
	& > .row
		flexNone()
		margin 5px 0
		height 25px
		
		& label
			min-width 120px
			text-align left
			vertical-align middle
		
		& input
			flex-grow 1
		
		&.left
			justify-content left
