.cod .advantages
	flexGrow()
	cursor default
	justify-content space-evenly
	
	& .column
	
		& .tracker
			flexGrow()
			width 180px
			
			& .checker.line
				margin-top 5px
		
		& label
			text-align left
			vertical-align middle
		
		& input
			flex-grow 1
		
		&.left
			justify-content left
