.cod .detailsWrapper

	& .detailsLabel
		text-align center
		font-size 1.1em
		font-weight bold
	
	& .details
		flexGrow()
		cursor default
		justify-content space-evenly
		
		& .column
			flexNone()
		
		& .row
			
			& label
				min-width 80px
				text-align left
				vertical-align middle
			
			& input
				flexShrink()
			
			& select
				flexGrow()
	
	& .calculated
		flexShrink()
		cursor default
		justify-content space-evenly
		
		& .row
			flexNone()
			justify-content space-between
			
			& label
				margin-right 10px

.cod.core .detailsWrapper .details .row label
	min-width 100px