.sheet.cod .experienceWrapper
	flexNone()
	justify-content flex-start
	
	& .experienceLabel
		text-align center
		font-size 1.1em
		font-weight bold
	
	& .column
		justify-content flex-start
		
		& .row
			justify-content flex-end
			
			&:first-child
				margin-bottom 5px
			
			& .label
				flexGrow()
				text-align right
				vertical-align middle
			
			& input
				margin-left 10px
				width 85px
	
		& .tracker
			justify-content center
			
			& .label
				flexGrow()
				text-align right
				vertical-align middle
			
			& .checkerLine
				margin-top 5px
				margin-left 5px
				width 94px