.sheet.cod .simpleEntryListWrapper
	justify-content flex-start
	
	& .simpleEntryListLabel
		text-align center
		font-size 1.1em
		font-weight bold
		
	& .simpleEntryList.column
		flexNone()
		justify-content space-evenly
		
		& .row
			margin-bottom 5px
			
			& input
				flexGrow()
			
		& .row:first-child
			margin-top 5px
			
		& .row:last-child
			margin-bottom 0

.sheet.cod .entryListWrapper.abilities
	
	& .checkerLine
		margin-top 6px
	
	& .entry
		flexGrow()
		text-align left
		
		& textarea
			padding 5px
			resize vertical
		
		&.new
			margin-top 5px
			
			& input
				flexNone()
		
		& .row
			margin 2px 0
			
			& .label
				margin 0 5px
			
			& .label.first
				width 110px
			
			& .label.second
				width 75px
			
			& input
				flexGrow()
