.sheet.cod .simpleEntryListWrapper
	justify-content flex-start
	
	& .simpleEntryListLabel
		text-align center
		font-size 1.1em
		font-weight bold
		
	& .simpleEntryList.column
		flexNone()
		justify-content space-evenly
		
		& .row
			margin-bottom 5px
			
			& input
				flexGrow()
			
		& .row:first-child
			margin-top 5px
			
		& .row:last-child
			margin-bottom 0
