.sheet.cod .simpleEntryListWrapper.abilities .simpleEntryList
	
	& hr
		margin auto
		width 90%
	
	& .entry
		flexNone()
		margin 15px 5px 10px
		text-align left
		width 98%
		
		&:first-child
			margin-top 5px
		
		&.new input
			flexNone()
		
		& textarea
			margin 5px 0
			padding 5px
			resize vertical
		
		& .row
			margin 2px 0
			
			& .label
				margin 0 5px
			
			& .label:first-child
				margin-left 0
			
			& .label.first
				width 110px
			
			& .label.second
				width 75px
			
			& input
				flexGrow()

.sheet.cod .conditions
	flexNone()