.sheet.cod .merits
	
	& .simpleEntryList
		
		& .entry
			
			&:hover
				point()
				color menuHoverColor
			
			& input
				flexGrowX(0.3)
				text-align right
				
				&:hover
					color menuHoverColor
			
			& .tracker .label
				margin 0
			
			& .checkerLine
				margin 2px 0 0 2px
