.sheet.cod
	
	& > h1, & > h2
		margin 0
	
	& hr
		width: 90vw
		margin 10px auto
	
	& .baseTraits
		min-width 550px
	
	& .column
		flexGrow()
		justify-content space-evenly
		
		&.spacedOut > *
			margin 10px 0
			
			&:first-child
				margin-top 0
			
			&:last-child
				margin-bottom 0
		
		& hr
			margin 10px 0
	
	& .row
		flexNone()
		justify-content space-evenly
		
		&.fill > *
			flexGrow()
	
	& .advantages
		justify-content left
		
		& .trackers
			flexGrow()