.sheet.cod.ctl2e .regalia
	flexNone()
	
	& .checkerLine
		margin-top 6px
	
	& .entry
		margin 0
		
		&:hover
			point()
			color menuHoverColor
		
		& .label
			text-align left
			width 80px
		
		& select
			margin-top 5px

.sheet.cod.ctl2e .frailties
	flexGrowX(0.1)