foregroundColor = #A9ABB0
backgroundColor = #272B32
bodyBackgroundColor = #171C27
borderRadius = 10px
mainMenuHeight = 25px
menuBorderColor = #676E7E
menuHoverColor = #DDDDDD

absolute(x, y)
	position absolute
	top y
	left x

fixed(x, y)
	position fixed
	top y
	left x

relative(x, y)
	position relative
	top y
	left x

flex(dir)
	display flex
	flex-direction dir

flexGrow()
	flex-grow 1
	flex-shrink 0

flexGrowX(x)
	flex-grow x
	flex-shrink 0

flexNone()
	flex-grow 0
	flex-shrink 0

flexShrink()
	flex-grow 0
	flex-shrink 1

flexWrap()
	flex-wrap wrap

invisible()
	opacity 0
	visibility hidden

point()
	cursor pointer

body
	color foregroundColor
	background-color bodyBackgroundColor
	margin 0
	font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	user-select none

input, textarea, button, select, option
	border 0 none
	color foregroundColor
	background-color backgroundColor

button
	cursor pointer
	padding 5px
	border-radius borderRadius

hr
	border-color foregroundColor
	
	&.noBorder
		border 0 none

.column
	flex(column)

.row
	flex(row)

.app
	text-align center

@require "./components/core/Check.styl"
@require "./components/core/Sheet.styl"
@require "./components/core/Menu.styl"

@require "./components/cod/Sheet.styl"
@require "./components/cod/Advantages.styl"
@require "./components/cod/Aspirations.styl"
@require "./components/cod/Attributes.styl"
@require "./components/cod/Experience.styl"
@require "./components/cod/EntryList.styl"
@require "./components/cod/Merits.styl"
@require "./components/cod/Skills.styl"
@require "./components/cod/Tracks.styl"

@require "./components/cod/vtr2e/Details.styl"
@require "./components/cod/vtr2e/Disciplines.styl"
@require "./components/cod/vtr2e/Touchstones.styl"
