.attributes
{
	display: flex;
	flex-direction: row;
}

.attributes > .column
{
	display: flex;
	flex-direction: column;
}

.attributes > .column > *
{
	flex-grow: 1;
	flex-shrink: 0;
}

.attributes > .column .label
{
	text-align: left;
	margin: 0 5px 0 15px;
}

.attributes .dots
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 5px;
}

.attributes .dots .checkDot
{
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 2px;
}
