.sheet.changelingTheLost
{
	display: flex;
	flex-direction: row;
}

.sheet.changelingTheLost > .column
{
	flex-grow: 1;
	flex-basis: 50%;
	justify-content: left;
	
	display: flex;
	flex-direction: column;
}
.sheet.changelingTheLost > .column.right
{
	justify-content: right;
}

.sheet.changelingTheLost > .column > * { margin: 10px 0; }
.sheet.changelingTheLost > .column > *:first-child { margin-top: 0; }
.sheet.changelingTheLost > .column > *:last-child { margin-bottom: 0; }

.sheet.changelingTheLost .trackers > *
{
	margin: 5px 0;
}
.sheet.changelingTheLost .trackers > *:first-child { margin-top: 0; }

.sheet.changelingTheLost .fullscreenOverlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #333;
	opacity: 0.35;
	z-index: 10000;
}

.sheet.changelingTheLost .fullscreenOverlayItem
{
	position: absolute;
	top: calc(50% - 40%);
	left: calc(50% - 40%);
	padding: 25px;
	width: 80%;
	height: 80%;
	background-color: #333;
	border-radius: 10px;
	z-index: 10000;
}
