.glamourTracker .label
{
	margin: 0 0 5px;
	user-select: none;
}

.glamourTracker .boxLine
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	max-width: 180px;
	min-width: 180px;
	margin: 0 auto;
}

.glamourTracker .boxLine .checkbox
{
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 2px 2px;
}
