.label
{
	margin: 0 0 5px;
	user-select: none;
}

.boxLine
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.boxLine .checkboxMulti
{
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 2px;
}
