@require "../../../../global.styl"

.contractsWrapper
	flex(column)
	
	& .contracts
		flex(row)
		padding-left 15px
		
		& .column
			flex(column)
			flexGrow()
			justify-content left
			text-align left
			
			& > *
				cursor pointer
				margin 2px 0
