@require "../../../../global.styl"

.contractDetails
	flex(column)
	min-width 75vw
	white-space pre-wrap
	
	& hr
		border 0 none
	
	& > *
		text-align left
	
	& .row
		flex(row)
		
		& > *
			flexGrow()
			
			&.small
				width 100px
				margin-left 0
				flex-grow 0 !important
		
		&.label
			margin 0 5px 0 15px
			user-select none
			
			& > *.small
				width 115px
		
		& input, & textarea
			margin-left 10px
	
	& .column
		flex(column)
	
	& .spacer
		margin 2px 0
	
	& .indent
		margin-left 15px
	
	& .dots
		flex(row)
		justify-content center
		padding-top 5px
		
		& .checkDot
			flexNone()
			margin 0 2px
