@require "../../../../global.styl"

.createNewContract
	flex(column)
	width 25%
	top 25vh !important
	left 25vw !important
	
	& .row
		flex(row)
		flexGrow()
		margin 5px 0
		
		& *
			flexGrow()
		
		&.center
			justify-content center
