.sheet.mageTheAwakening
{
	display: flex;
	flex-direction: row;
}

.sheet.mageTheAwakening > .column
{
	flex-grow: 0;
	/*flex-basis: 50%;*/
	justify-content: left;
	
	display: flex;
	flex-direction: column;
}
.sheet.mageTheAwakening > .column.right { justify-content: right; }

.sheet.mageTheAwakening > .column > * { margin: 10px 0; }
.sheet.mageTheAwakening > .column > *:first-child { margin-top: 0; }
.sheet.mageTheAwakening > .column > *:last-child { margin-bottom: 0; }

.sheet.mageTheAwakening .trackers > *
{
	margin: 5px 0;
	min-width: 200px;
}
.sheet.mageTheAwakening .trackers > *:first-child { margin-top: 0; }
