overlayBackgroundColor = #333

.sheet.changelingTheLost
	& .fullscreenOverlay
		absolute(0, 0)
		width 100vw
		height 100vh
		background-color overlayBackgroundColor
		opacity 0.35
		z-index 10000
	
	& .fullscreenOverlayItem
		absolute(5%, 10%)
		padding 25px
		max-width 80%
		background-color overlayBackgroundColor
		border-radius 10px
		z-index 10000
