.attributesWrapper
{
	display: flex;
	flex-direction: column;
}

.attributesLabel
{
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 5px;
	user-select: none;
}

.attributes
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.attributes > .column
{
	flex-grow: 0;
	display: flex;
	flex-direction: column;
}

.attributes > .column .tracker .label
{
	flex-grow: 1;
	text-align: left;
	margin: 0 10px 0 0;
	user-select: none;
}

.attributes .dots
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.attributes .dots.extended { padding-top: 5px; }

.attributes .dots .checkerLine { margin-top: 6px; }
.attributes .dots.extended .checkerLine { margin-top: 0; }

.attributes .dots .checker
{
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 2px;
}
