.attributesWrapper
{
	display: flex;
	flex-direction: column;
	margin-top: 5px !important;
}

.attributesLabel
{
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 5px;
	user-select: none;
}

.attributes
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.attributes > .column
{
	display: flex;
	flex-direction: column;
}

.attributes > .column > *
{
	flex-grow: 1;
	flex-shrink: 0;
}

.attributes > .column .label
{
	text-align: left;
	margin: 0 5px 0 15px;
	user-select: none;
}

.attributes .dots
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 5px;
}

.attributes .dots .checker
{
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 2px;
}
