.checkDot
{
	position: relative;
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.checkDot svg
{
	position: absolute;
	top: 0;
	left: 0;
}

.checkDot svg circle
{
	stroke: #A9ABB0;
	stroke-width: 1px;
	fill: transparent;
}
.checkDot.checked svg circle { fill: #A9ABB0; }
