.checkbox
{
	position: relative;
	width: 12px;
	height: 12px;
	border: 1px solid #A9ABB0;
	cursor: pointer;
}

.checkbox svg
{
	position: absolute;
	top: 0;
	left: 0;
}

.checkbox svg path
{
	stroke: #A9ABB0;
	stroke-width: 1px;
}
