.checkboxMulti
{
	position: relative;
	width: 12px;
	height: 12px;
	border: 1px solid #AAB9CC;
}

.checkboxMulti svg
{
	position: absolute;
	top: 0;
	left: 0;
}

.checkboxMulti svg path
{
	stroke: #AAB9CC;
	stroke-width: 1px;
}
