.checker
{
	position: relative;
	width: 12px;
	height: 12px;
	border: 1px solid #A9ABB0;
	cursor: pointer;
}
.checker.circle
{
	border: 0 none;
}

.checker svg
{
	position: absolute;
	top: 0;
	left: 0;
}

.checker svg path
{
	stroke: #A9ABB0;
	stroke-width: 1px;
}

.checker.circle svg circle
{
	stroke: #A9ABB0;
	stroke-width: 2px;
	fill: transparent;
}
.checker.circle.checked svg circle { fill: #A9ABB0; }
