.entryListLabel
{
	justify-content: center;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	user-select: none;
}

.entryList
{
	display: flex;
	flex-direction: column;
}

.entry
{
	flex-grow: 0;
	flex-shrink: 0;
	margin: 5px 5px 0 15px;
	
	display: flex;
	flex-direction: row;
}

.newEntryButton
{
	flex-shrink: 1;
	margin: 7px auto 0;
	padding: 5px 20px;
	user-select: none;
}
