.mainMenu
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #4A4E5A;
	color: #A9ABB0;
	user-select: none;
}

.mainMenu .menu
{
	flex-grow: 0;
	flex-shrink: 1;
	cursor: pointer;
	border-left: 1px solid #26282E;
	border-right: 1px solid #26282E;
}
.mainMenu .menu:first-child { border-left: 0 none; }
.mainMenu .menu:last-child { border-right: 0 none; }

.mainMenu .subMenu
{
	display: flex;
	flex-direction: column;
	
	position: absolute;
	z-index: 1000;
	border: 1px solid #838894;
	background-color: #272B32;
}
.mainMenu .subMenu.hide
{
	opacity: 0;
	visibility: hidden;
}

.mainMenu .separator
{
	height: 0;
	margin: 2px 0;
	border-top: 1px solid #838894;
}

.mainMenu .menuItem
{
	cursor: pointer;
	margin-top: 2px;
	padding: 0 5px;
}
.mainMenu .menuItem:first-child { margin-top: 0; }
.mainMenu .menuItem:hover { background-color: #0F1724; }

.mainMenu .menu.file { max-width: 30px; }
.mainMenu .subMenu.file { top: 20px; left: 1px; }
