.contracts
{
	display: flex;
	flex-direction: row;
}

.contracts .column
{
	display: flex;
	flex-direction: column;
	
	flex-grow: 1;
	justify-content: left;
	text-align: left;
}

.contracts .column > *
{
	cursor: pointer;
}
