.sheet.cod .disciplines
	
	& .entry
		margin 0
		
		& .label
			text-align left
			width 80px

.sheet.cod .devotions
	
	& .entry
		flexGrow()
		text-align left
		
		& .row
			margin 2px 0
			
			& .label
				margin 0 5px
			
			& .label.first
				width 110px
			
			& .label.second
				width 75px
			
			& input
				flexGrow()
