.sheet.cod.vtr2e .disciplines
	
	& .checkerLine
		margin-top 6px
	
	& .entry
		margin 0
		
		&:hover
			point()
			color menuHoverColor
		
		& .label
			text-align left
			width 80px
		
		& select
			margin-top 5px

.sheet.cod .devotions
	
	& .checkerLine
		margin-top 6px
	
	& .entry
		flexGrow()
		text-align left
		
		&.new
			margin-top 5px
			
			& input
				flexNone()
		
		& .row
			margin 2px 0
			
			& .label
				margin 0 5px
			
			& .label.first
				width 110px
			
			& .label.second
				width 75px
			
			& input
				flexGrow()
