.details
	flex(column)
	cursor default
	justify-content space-evenly
	margin-right 15px
	
	& > .row
		flex(row)
		flexNone()
		margin 5px 0
		height 25px
	
	& .row
		& > label
			min-width 120px
			text-align left
			user-select none
			vertical-align middle
		
		& > input
			flexGrow()
