.home
	text-align center
	
	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6
		margin 0
	
	& .chooser
		
		& .label
			text-align center
			font-size 1.1em
			font-weight bold
		
		& .row
			margin-top 10px
		
		& button
			flexGrow()
