.home
	text-align center
	
	& .chooser
		
		& .label
			text-align center
			font-size 1.1em
			font-weight bold
		
		& .row
			margin-top 10px
		
		& button
			flexGrow()
			
			&:hover
				color menuHoverColor
