.app > .mainMenu
	flexShrink()
	fixed(0, 0)
	background-color backgroundColor
	border-bottom mainMenuBorderWidth solid menuBorderColor
	height mainMenuHeight
	justify-content left
	text-align left
	width 100vw
	z-index 1000
	
	& .menu
		flexShrink()
		height mainMenuHeight
		
		& .label
			flexGrow()
			cursor pointer
			padding 0 10px
			
			&:hover
				color menuHoverColor
		
		& .subMenu
			background-color backgroundColor
			border-color menuBorderColor
			border-bottom-left-radius borderRadius
			border-bottom-right-radius borderRadius
			border-style solid
			border-width 0 1px 1px 1px
			padding 0 8px 5px 10px
			relative(5px, 4px)
		
		& .childMenu
			height auto
			
			& .label
				padding 0
				margin 0
			
			& .subMenu
				relative(0, 0)
				border 1px solid menuBorderColor
				border-radius borderRadius
		
		& .menuItem
			flexGrow()
			cursor pointer
			
			&:hover
				color menuHoverColor
