.app .sheet
	
	& .removePopUpWrapper
		position fixed
		justify-content center !important
		z-index 10000
	
		& .removePopUp
			flexNone()
			background-color bodyBackgroundColor
			border 1px solid menuBorderColor
			border-radius borderRadius
			height 100px
			justify-content center !important
			padding 0 15px
			
			& .row
				margin 10px 0
				
				& button
					flexGrow()
					margin 0 10px
					padding 5px 0
					
					&:hover
						color menuHoverColor
						font-weight bold
	
	& .column
		flexGrow()
		
		&.spacedOut > *
			margin 10px 0
			
			&:first-child
				margin-top 0
			
			&:last-child
				margin-bottom 0
		
		& hr
			margin 10px 0
	
	& .row
		flexNone()
		
		&.fill > *
			flexGrow()
		
		&.spacedOut > *
			margin 0 5px
			
		&.spacedOut > *:first-child
			margin-left 0
			
		&.spacedOut > *:last-child
			margin-right 0
