.tabs > div
	&.tabControls
		flex(row)
		
		& > *
			flexGrow()
			cursor pointer
			border-top 1px solid foregroundColor
			border-left 1px solid foregroundColor
			border-top-left-radius 5px
			
			&:first-child
				border-left 1px solid foregroundColor
			
			&:last-child
				border-right 1px solid foregroundColor
				border-top-right-radius 5px
			
			&.selected
				border-right 1px solid foregroundColor
				border-top-left-radius 5px
				border-top-right-radius 5px
	
	&.tabContainer
		/*
		We don't want this container messing with the
		layout of the children more than it needs to.
		*/
		padding 0
		margin 0
		border 1px solid foregroundColor
		
		& > div.hidden
			invisible()
			position absolute
