.App
{
	display: flex;
	flex-direction: column;
	text-align: center;
	min-width: 640px;
	min-height: 480px;
}

.App .mainMenu
{
	flex-grow: 0;
	flex-shrink: 1;
}

.App .sheet
{
	flex-grow: 1;
	padding: 10px;
}
