input, textarea, button
{
	border: 0 none;
	color: #A9ABB0;
	background-color: #272B32;
}

button
{
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
}

hr
{
	border-color: #A9ABB0;
}

.checker
{
	max-width: 50px;
	max-height: 50px;
	margin-left: 150px;
	margin-top: 150px;
}

.App
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.App .mainMenu
{
	flex-grow: 0;
	flex-shrink: 1;
}

.App .sheet
{
	flex-grow: 1;
	padding: 10px;
}
