.sheet.cod.mta2e .spellcasting
	
	& input:hover, & select:hover, & button:hover
		color menuHoverColor
	
	& > .label
		componentLabel()
		margin-bottom 5px
	
	& > .sublabel
		margin-bottom 10px
	
	& > .row > *
		margin-right 10px
	
	& > .row > *:last-child
		margin-right 0
	
	& .column > *
		margin-bottom 5px
	
	& .column > *:last-child
		margin-bottom 0
	
	& .row .label
		text-align left
	
	& input
		width 50px
	
	& select
		margin-top 3px
	
	& .tracker
		margin-top 5px
	
	& .spellFactors1
		
		& .label
			margin-right 10px
			text-align right
		
		& select, & .tracker
			width 115px
		
		& input
			width 111px
	
	& .spellFactors2
		
		& .label
			margin-right 10px
			text-align right
			width 125px
		
		& .row .row select
			margin-top 0
	
	& .results
		
		& .label
			margin-right 10px
			text-align right
			width 135px