arcanumWidth = 75px

.sheet.cod.mta2e .praxes
	
	& .row.praxis
		
		& input
			margin-right 5px
		
		& select.arcanum
			width arcanumWidth

.sheet.cod.mta2e .simpleEntryListWrapper.rotes
	
	& .simpleEntryList .row.rote
		
		& > *
			margin-right 5px
		
		& > *:last-child
			margin-right 0
		
		& select.arcanum
			width arcanumWidth
		
		& select.skill
			width 100px
	
	& .newRote
		flex-grow 0.2
