@require "../../global.styl"

.sheet
	flex(row)
	
	& .baseTraits
		min-width 550px
	
	& .column
		flex(column)
		flexGrow()
		justify-content space-evenly
		
		&.spacedOut > *
			margin 10px 0
			
			&:first-child
				margin-top 0
			
			&:last-child
				margin-bottom 0
		
		& hr
			margin 10px 0
	
	& .row
		flex(row)
		flexNone()
		justify-content space-evenly
		
		&.fill > *
			flexGrow()
	
	& .trackers
		flexShrink()
		
		& > *
			margin 5px 0
			min-width 200px
			
			&:first-child
				margin-top 0
