foregroundColor = #A9ABB0
backgroundColor = #272B32
bodyBackgroundColor = #171C27
borderRadius = 10px

absolute(x, y)
	position absolute
	top x
	left y

flex(dir)
	display flex
	flex-direction dir

flexGrow()
	flex-grow 1
	flex-shrink 0

flexNone()
	flex-grow 0
	flex-shrink 0

flexShrink()
	flex-grow 0
	flex-shrink 1

invisible()
	opacity 0
	visibility hidden
